<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuri.exp_9.mapper.UserMapper">
    <sql id="table">user</sql>

    <insert id="insert" parameterType="User">
        INSERT INTO
        <include refid="table"/>
        (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <select id="findByUserName" parameterType="String">
        SELECT * FROM
        <include refid="table"/>
        WHERE username = #{username}
    </select>

<!--    <update id="update" parameterType="user">-->
<!--        UPDATE-->
<!--        <include refid="table"/>-->
<!--        <set>-->
<!--            <if test="username != null">username=#{username}</if>-->
<!--            <if test="password != null">password=#{password}</if>-->
<!--        </set>-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

    <select id="getBooks" resultType="Book">
        SELECT * FROM
        <include refid="table"/>
    </select>

</mapper>